@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased break-words;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  word-wrap: break-word;
  font-family: 'IBM Plex Sans', sans-serif;
}

.lightSecondary {
  @apply duration-200 border border-gray-200 rounded-md shadow-md bg-zinc-100 hover:scale-105;
}

.queries {
  @apply w-[90%] md:w-[70%] lg:w-[60%] xl:w-[50%] 2xl:w-[40%] mx-auto;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./_fonts/IBMPlexSans-Regular.ttf');
  font-weight: 500;
}
