---
import { useTranslations, getLangFromUrl } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<a href="https://github.com/sphealhub" target="_blank" class="org-card">
  <div class="org-card-left">
    <h4>{t('org-join-title')}</h4>
    <p>{t('org-join-description')}</p>
  </div>
  <img src="/waxer.png" alt="flork" />
</a>

<style>
  .org-card {
    display: flex;
    position: relative;
    padding: 15px;
    border: 1px solid var(--sl-color-text-accent);
    border-radius: 10px;
    background-color: var(--sl-color-gray-6);
    text-decoration: none;
    color: var(--sl-color-text);
  }

  .org-card-left {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  .org-card-left h4 {
    margin: 0;
  }

  .org-card-left p {
    margin-bottom: 0;
    font-size: small;
  }

  .org-card p svg {
    vertical-align: middle;
  }

  .org-card img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    margin-right: 5px;
  }
</style>
