---
import About from '@components/About.astro';
import Layout from '@layouts/Layout.astro';
import ProjectCard from '@components/ProjectCard.astro';
import { projects } from '@assets/projects';
---

<Layout title="Hyro - Portfolio">
  <About />
  <div class="space-y-4">
    <h2 class="text-xl">Projects</h2>
    <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
      {projects.map((project) => <ProjectCard {project} />)}
    </ul>
  </div>
</Layout>
