---
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'

const projects = [
  {
    title: 'mardroide.dev',
    description: 'My personal website made with Astro and TailwindCSS.',
    link: 'https://github.com/Mardroide/mardroide.dev'
  },
  {
    title: 'stuart',
    description: 'A discord bot dashboard to manage your server. Made with nestjs, react and typescript.',
    link: 'https://github.com/sphealhub/stuart'
  },
  {
    title: 'FireworksMechanics',
    description: 'A minecraft spigot plugin to set new mechanics to dynamites and fireworks.',
    link: 'https://github.com/sphealhub/FireworksMechanics'
  },
  {
    title: 'mc-flags',
    description: 'A minecraft tool website to easily generate your custom start.sh files.',
    link: 'https://github.com/Mardroide/mc-flags'
  },
  {
    title: 'megatron',
    description: 'A minecraft server plugins ecosystem to manage a awesome network.',
    link: 'https://github.com/Mardroide/megatron'
  },
  {
    title: 'megratron-api',
    description: 'A rest api to manage the megatron ecosystem.',
    link: 'https://github.com/Mardroide/megatron-api'
  }
]
---

<Layout title="mardroide.dev">
  <div class="flex flex-col gap-4 mt-10">
    <h2 class="tracking-wider text-lg">projects</h2>
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</Layout>
