<div class="flex flex-col">
  <div class="max-w-lg py-16">
    <h2 class="gradient text-4xl font-medium">Hi there! I'm Hyro</h2>
    <p class="text-gray-400">
      I'm a software engineer and a content creator. I love to share my
      knowledge and experiences with others. I'm passionate about web
      development, design, and technology in general.
    </p>
  </div>
</div>

<style>
  .gradient {
    @apply bg-gradient-to-r from-slate-100 to-slate-400 inline-block text-transparent bg-clip-text;
  }
</style>
