---
import Reference from './Reference.astro';
---

<div class="flex flex-col space-y-12">
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
      <Reference icon="mingcute:maple-leaf-line" />
      <h2 class="font-bold">hyro</h2>
    </div>
    <span class="text-secondary">Madrid, Spain.</span>
  </div>
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-4">
      <h3 class="flex items-center gap-2">
        <Reference icon="mingcute:ghost-line" />
        pipejs
      </h3>
      <p class="text-secondary">Founder / Maintainer & developer</p>
    </div>
    <p class="text-gray-300">
      PipeJS is a software utility startup that streamlines integration and
      enhances workflow efficiency for developers. Open source projects!
    </p>
  </div>
</div>
