---
interface Props {
  text: string
  icon: string
}

const { text, icon } = Astro.props
---

<div class="flex items-center gap-2 rounded border border-neutral-800 bg-neutral-800/50 px-2 py-1.5 w-fit">
  <img src={icon} alt={text} class="w-[16px] h-[16px] object-cover">
  <span class="text-xs">{text}</span>
</div>