---
import Reference from './Reference.astro';
---

<footer class="border-t border-zinc-800 font-light py-4">
  <div class="mx-auto max-w-5xl w-[90%] flex items-center justify-between">
    <p class="text-center">&copy; 2024 - hyro.one</p>
    <div class="flex items-center gap-4">
      <Reference icon="mingcute:github-line" ref="https://github.com/Hyro32" />
      <Reference icon="mingcute:social-x-line" ref="https://x.com/HyroOne" />
    </div>
  </div>
</footer>
