---
import { Icon } from 'astro-icon/components'
---

<footer class="flex flex-col items-center gap-2 py-6 w-full">
  <Icon name="mingcute:more-1-line" class="size-5 text-gray-400" />
  <div class="flex items-end justify-between w-full">
    <p>Madrid, Spain</p>
    <p class="text-xs">©️ 2024 <strong>HYRO.ONE</strong></p>
  </div>
</footer>
