---
import { Icon } from 'astro-icon/components'
---

<button id="lang-button" class="flex items-center gap-2 rounded-md hover:text-blue-500">
  <Icon name="mingcute:earth-2-line" class="size-5" />
</button>

<script> 
  import { getLangFromUrl } from '../i18n/utils'
  
  const langButton = document.getElementById('lang-button')

  langButton?.addEventListener('click', () => {
    const currentLang = getLangFromUrl(new URL(window.location.href))
    const nextLang = currentLang === 'en' ? 'es' : 'en'

    window.location.href = `/${nextLang}`
  })
</script>
