---
import { Icon } from 'astro-icon/components'
---

<button class="flex items-center gap-2 rounded-md hover:text-blue-500">
  <Icon name="mingcute:globe-line" class="size-6" />
</button>

<script>
  const langButton = document.getElementById('lang-button')
  import { getLangFromUrl } from '../i18n/utils'

  langButton!.addEventListener('click', () => {
    const currentLang = getLangFromUrl(Astro.url)
    const nextLang = currentLang === 'en' ? 'es' : 'en'

    window.location.href = `/${nextLang}${window.location.pathname}`
  })
</script>
