---
import { getLangFromUrl } from '../i18n/utils'
import { languages } from '../i18n/languages'
import { Icon } from 'astro-icon/components'

const lang = getLangFromUrl(Astro.url)
---

<div class="relative">
  <button class="flex items-center gap-1" id="languages-button">
    <Icon name="mingcute:down-fill" />
    {lang}
  </button>
  <ul class="absolute w-full text-end hidden" id="languages-list">
    {
      Object.entries(languages)
        .filter(([key]) => key !== lang)
        .map(([key, value]) => (
          <li>
            <a href={`/${key}`}>{value}</a>
          </li>
        ))
    }
  </ul>
</div>

<script>
  function toggleLangSelector() {
    const langSelector = document.getElementById('languages-list')
    langSelector!.classList.toggle('hidden')
  }

  document
    .getElementById('languages-button')!
    .addEventListener('click', toggleLangSelector)
</script>
