<nav class="flex items-center justify-between w-full pt-20 max-sm:pt-5">
  <a href="/" class="font-semibold">HYRO.ONE</a>
  <ul class="flex items-center gap-5">
    <li>
      <a href="/blog">blog</a>
    </li>
  </ul>
</nav>
