---
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const translation = useTranslations(lang)
---

<nav class="w-full pt-20">
  <ul class="flex items-center gap-4">
    <li>
      <a href={`/${lang}`}>{translation('home')}</a>
    </li>
    <li>
      <a href={`/${lang}/blog`}>{translation('blog')}</a>
    </li>
    <li>
      <a href={`/${lang}/thoughts`}>{translation('thoughts')}</a>
    </li>
  </ul>
</nav>
