<nav class="flex items-center justify-between mt-16">
  <div>
    <a href="/" class="font-semibold text-lg">mardroide</a>
    <p class="text-gray-500 text-sm">
      Student and developer
    </p>
  </div>
  <ul class="flex items-center gap-8">
    <li>
      <a href="https://github.com/Mardroide">
        Github
      </a>
    </li>
    <li>
      <a href="https://twitter.com/mrcxs86">
        Twitter
      </a>
    </li>
  </ul>
</nav>
