<nav class="flex items-center justify-between mt-12">
  <div>
    <a href="/" class="font-semibold text-lg">mardroide</a>
    <p class="text-gray-700 text-sm">Student and developer</p>
  </div>
  <ul class="flex items-center gap-4">
    <li>
      <a href="https://github.com/Mardroide" target="_blank">
        <img src="/github-mark.svg" alt="Github" class="w-4 h-4" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/mrcxs86" target="_blank">
        <img src="/twitterx.svg" alt="Twitter" class="w-4 h-4" />
      </a>
    </li>
  </ul>
</nav>
