---
import { Image } from 'astro:assets';
import cat from '@assets/cat.webp'
---

<nav class="flex items-center justify-between w-full">
  <Image src={cat} alt="Astro" class="w-8 h-8" />
  <div class="flex items-center gap-4">
    <a href="/">home</a>
    <a href="/blog">blog</a>
  </div>
</nav>
