---
interface Props {
  name: string
  image: string
  url: string
}

const { name, image, url } = Astro.props
---

<a
  href={url}
  target="_blank"
  class="flex-flex-col min-h-40 w-full lightSecondary"
>
  <img src={image} alt={name} class="w-full h-full object-cover rounded-md" />
  <span class="text-sm font-bold uppercase top-8 left">{name}</span>
</a>
