---
interface Props {
  title: string;
  description: string;
  link: string;
}

const { title, description, link } = Astro.props
---

<a href={link} class="flex flex-col gap-1 text-sm rounded-sm">
  <h2 class="underline underline-offset-4">{title}</h2>
  <p class="text-gray-500">{description}</p>
</a>