---
const { project } = Astro.props;
---

<a
  href={project.github}
  target="_blank"
  class="flex flex-col gap-3 p-3 border border-zinc-800 rounded-md duration-300 hover:scale-105"
>
  <img
    src={project.logo ?? '/banner.webp'}
    alt={project.name}
    class="rounded-md"
  />
  <div>
    <h3 class="text-lg">{project.name}</h3>
    <p class="text-sm text-gray-500">{project.description}</p>
  </div>
</a>
