---
import Project from './Project.astro';
---

<div class="flex flex-col gap-2">
  <span class="font-bold">projects</span>
  <ul class="grid grid-cols-2 gap-3">
    <Project title="pipecms" ref="https://github.com/pipejs/pipecms" />
    <Project title="mc-plugins" ref="https://github.com/Hyro32/mc-plugins" />
    <Project title="fcms" ref="https://github.com/Hyro32/fcms" />
    <Project title="crates" ref="https://github.com/Hyro32/crates" />
  </ul>
</div>
