---
import type { GetStaticPaths } from 'astro'
import { Titles } from '../../common'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import { Icon } from 'astro-icon/components'
import Layout from '../../layouts/Layout.astro'
import languages from '../../i18n/languages'
import LangSelector from '../../components/LangSelector.astro'

export const getStaticPaths = (() => {
  return Object.keys(languages).map((lang) => ({
    params: { lang }
  }))
}) satisfies GetStaticPaths

const { lang } = Astro.params
const currentLang = getLangFromUrl(Astro.url)
const translation = useTranslations(currentLang)
---

<Layout title={Titles.Home} {lang}>
  <div class="flex flex-col gap-6 w-full">
    <div class="flex items-center justify-between py-4">
      <div class="flex flex-col gap-2">
        <h1 class="text-2xl leading-4">Marcos Corrochano</h1>
        <h3 class="text-lg text-[#8a7d77]">
          {translation('slogan')}
        </h3>
      </div>
      <LangSelector transition:persist />
    </div>
    <p>{translation('about1')}</p>
    <p>{translation('about2')}</p>
    <ul class="flex items-center gap-4 text-[#aca19c]">
      <li>
        <a
          href="https://github.com/sphealhub"
          target="_blank"
          class="flex items-center gap-1"
        >
          <Icon name="mingcute:arrow-right-up-line" class="size-4" />
          {translation('checkMyOrg')}
        </a>
      </li>
      <li>
        <a
          href="https://github.com/Hyro32/megatron"
          target="_blank"
          class="flex items-center gap-1"
        >
          <Icon name="mingcute:arrow-right-up-line" class="size-4" />
          {translation('helpMinecraft')}
        </a>
      </li>
    </ul>
  </div>
</Layout>
