---
import type { GetStaticPaths } from 'astro'
import Layout from '../../layouts/Layout.astro'
import languages from '../../i18n/languages'

export const getStaticPaths = (() => {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }))
}) satisfies GetStaticPaths

const { lang } = Astro.params;
const title = 'mardroide.dev'
---

<Layout {title} {lang}>
  <h1>Main page</h1>
  <a href="blog/">Blog</a>
</Layout>
