---
import Layout from '../../layouts/Layout.astro'
---

<Layout lang="en" title="Hyro - Portfolio">
  <div class="flex flex-col gap-4">
    <div class="flex items-center gap-4 pb-5">
      <img
        src="https://avatars.githubusercontent.com/Hyro32"
        alt="hyro"
        class="h-12 w-12 rounded-md object-cover"
      />
      <div class="flex flex-col">
        <h2 class="text-xl font-semibold">Marcos Corrochano Arroyo</h2>
        <span class="text-sm">Estudiando Ingeniería de Sistemas en la UAH</span>
      </div>
    </div>
    <p>
      Soy un estudiante de Ingeniería de Sistemas en la Universidad de Alcalá.
      Me encanta programar y aprender cosas nuevas. Actualmente estoy
      aprendiendo nuevos lenguajes como rust.
    </p>
    <p>
      Uno de mis sueños es crear una comunidad de programadores que compartan
      sus conocimientos y experiencias. Crear nuevos proyectos, contribuir y
      compartir conocimientos es lo que me motiva a seguir adelante.
    </p>
  </div>
</Layout>
