---
import Head from '../components/Head.astro'
import Navbar from '../components/Navbar.astro'
import OrgCard from '../components/cards/OrgCard.astro'
import TableOfContents from '../components/TableOfContents.astro'
import { getLangFromUrl } from '../i18n/utils'

interface Props {
  title: string
  headings: any[]
}

const lang = getLangFromUrl(Astro.url)
const { title, headings } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head />
    <title>{title}</title>
  </head>
  <body class="mx-auto flex flex-col items-center max-w-6xl">
    <Navbar />
    <div class="flex w-full mt-16 gap-10">
      <div class="w-3/4">
        <slot />
      </div>
      <div class="flex flex-col gap-10 w-1/4">
        <TableOfContents headings={headings} />
        <OrgCard />
      </div>
    </div>
  </body>
  <style is:global>
    html,
    body {
      height: 100%;
      width: 100%;
      font-family: 'Rubik', sans-serif;
    }
  </style>
</html>
