---
import Head from '../components/Head.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

interface Props {
  title: string
  lang: string
}

const { title, lang } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <Head {title} />
  <body class="queries bg-[#fbfefb]">
    <Navbar />
    <div class="mt-10 mb-20">
      <slot />
    </div>
    <Footer />
  </body>
</html>
