---
import Head from '../components/Head.astro'
import Navbar from '../components/Navbar.astro'
import '../styles/global.css'

interface Props {
  title: string
  lang: string
}

const { title, lang } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <Head {title} />
  <body class="w-[70%] mx-auto">
    <Navbar />
    <div class="mt-10">
      <slot />
    </div>
  </body>
</html>
