---
import Head from '../components/Head.astro'
import Navbar from '../components/Navbar.astro'
import OrgCard from '../components/cards/OrgCard.astro'
import TableOfContents from '../components/TableOfContents.astro'
import { getLangFromUrl } from '../i18n/utils'
import '../styles/props.css'

interface Props {
  title: string
  headings: any[]
}

const lang = getLangFromUrl(Astro.url)
const { title, headings } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <div class="main-container">
      <div class="mdx-container">
        <slot />
      </div>
      <div class="rigth-sidebar-container">
        <TableOfContents headings={headings} />
        <OrgCard />
      </div>
    </div>
  </body>
</html>

<style is:global>
  * {
    font-family: var(--sl-font-system);
    scroll-behavior: smooth;
  }

  html,
  body {
    margin: 0 auto;
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sl-color-bg);
    color: var(--sl-color-text);
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--sl-color-text);
    font-size: medium;
  }

  a {
    color: var(--sl-color-text-accent);
  }

  ul {
    padding-left: 25px;
  }

  .main-container {
    display: flex;
    width: 100%;
    max-width: 72rem;
    margin-top: 4rem;
  }

  .mdx-container {
    width: 75%;
    padding-right: 2rem;
    border-right: 1px solid var(--sl-color-gray-6);
  }

  .mdx-container ul li {
    margin-bottom: 5px;
  }

  .rigth-sidebar-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 2.5rem;
    padding-left: 2rem;
  }
</style>
