---
import Layout from './Layout.astro'
import { GITHUB_URL } from '../common'
import { Icon } from 'astro-icon/components'

interface Props {
  post: any
}


const { post } = Astro.props
---

<Layout>
  <div class="flex flex-col gap-6 mb-20">
    <div class="flex flex-col">
      <h2 class="text-2xl">{post.data.title}</h2>
      <p class="text-[#8a7d77]">{post.data.description}</p>
    </div>
    <slot />
    <div class="flex items-center justify-center pt-4">
      <a
        href={GITHUB_URL + post.slug + '.mdx'}
        target="_blank"
        class="flex items-center gap-2 text-gray-600"
      >
        <Icon name="mingcute:github-line" class="size-6" />
        <span>Edit this post on Github</span>
      </a>
    </div>
  </div>
</Layout>
