---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import Layout from './Layout.astro'
import { GITHUB_URL } from '../common'
import { Icon } from 'astro-icon/components'

interface Props {
  title: string
  thought: any
}

const lang = getLangFromUrl(Astro.url)
const translation = useTranslations(lang)
const { title, thought } = Astro.props
const thougthDate = new Date(thought.data.date).toISOString().split('T')[0]
---

<Layout {lang} {title}>
  <div class="flex flex-col gap-6 mb-20">
    <div class="flex flex-col">
      <h2 class="text-2xl">{thought.data.title}</h2>
      <span class="text-[#8a7d77]">{thougthDate}</span>
    </div>
    <slot />
    <div class="flex items-center justify-center pt-4">
      <a
        href={GITHUB_URL + thought.slug + '.mdx'}
        target="_blank"
        class="flex items-center gap-2 text-gray-600"
      >
        <Icon name="mingcute:github-line" class="size-6" />
        {translation('editOnGithub')}
      </a>
    </div>
  </div>
</Layout>