---
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations } from '../../../i18n/utils'
import { languages } from '../../../i18n/ui'
import BlogPostCard from '../../../components/cards/BlogPostCard.astro'
import PostsTagsPicker from '../../../components/pickers/PostsTagsPicker.astro'
import Layout from '../../../layouts/Layout.astro'

export const getStaticPaths = () =>
  Object.keys(languages).map((lang) => ({ params: { lang } }))

const posts = await getCollection('blog')
const lang = getLangFromUrl(Astro.url)
const tagParam = Astro.url.searchParams.get('tag')
const t = useTranslations(lang)

const filteredPosts = posts
  .filter(
    (post) =>
      post.slug.startsWith(`${lang}/`) &&
      (!tagParam || tagParam === post.data.tag.toLowerCase())
  )
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Layout title="Mardroide - Community Blog">
  <PostsTagsPicker slot="sidebar" />
  <h2>{t('blog-latest-posts')}</h2>
  <ul class="latest-posts">
    {filteredPosts.map((post) => <BlogPostCard post={post} />)}
  </ul>
</Layout>

<style>
  .latest-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
    padding: 0;
  }
</style>
